@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* All Variables */

:root {
  --grey-50: #656266;
  --grey-100: #616161;
  --grey-g-100: #b5b5b5;
  --grey-grey-200: #303030;
  --grey-200: #322f33;
  --grey-300: #1c181d;
  --grey-grey-300: #1a1a1a;
  --font-light: #e3e3e3;
  --font-mid: #616161;
  --font-dark: #475467;
  --font-dark-2: #323232;
  --stroke-50: #ebebeb;
  --stroke-s-50: #dbdbdb;
  --stroke-s100: #e1e1e1;
  --stroke-100: #00000012;
  --stroke-200: #ffffff33;
  --state-hover: #f7f7f7;
  --state-pressed: #f0f0f0;
  --state-focused: #005bd3;
  --plain-white: #ffffff;
  --plain-background: #f1f1f1;
  --text-12-Reg: 400 12px/1.3 "Inter", sans-serif;
  --text-13-Reg: 400 13px/1.4 "Inter", sans-serif;
  --text-12-Med: 500 12px/1.3 "Inter", sans-serif;
  --text-13-Med: 500 13px/1.4 "Inter", sans-serif;
  --text-14-Med: 500 14px/1.4 "Inter", sans-serif;
  --text-12-semiB: 600 12px/1.3 "Inter", sans-serif;
  --text-13-semiB: 600 13px/1.4 "Inter", sans-serif;
  --text-14-semiB: 600 14px/1.4 "Inter", sans-serif;
  --transition: 300ms ease-in-out;
  --transition-accordion: 500ms ease-in-out;
}

/* CONTAINER */

.container {
  display: flex;
  padding-bottom: 32px;
  flex-direction: column;
  gap: 32px;
  overflow-x: hidden;
}

/* NAV BAR */

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  align-items: center;
  background: var(--grey-grey-300);
  transition: var(--transition);
}

@keyframes transitionNav {
  0% {
    opacity: 0;
    filter: blur(4px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.animate-on-load {
  animation: transitionNav 2s ease-in-out;
}

nav #mobile-shopify {
  display: none;
}

/* SEARCH SECTION */

nav .search-container {
  display: flex;
  align-items: center;
  max-width: 480px;
  width: 100%;
  padding: 2px 8px;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--stroke-200);
  background: var(--grey-200);
  color: var(--grey-g-100);
  transition: var(--transition);
}

nav .search-container:hover {
  border: 1px solid var(--stroke-s100);
}

nav .search-container:focus-within {
  border: 2px solid var(--plain-white);
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  font: var(--text-13-Med);
  color: var(--grey-g-100);
}

.search-icon {
  cursor: pointer;
}

/* NAVIGATION END SECTION */

nav .nav-end {
  display: flex;
  gap: 8px;
  position: relative;
}

nav .nav-end section {
  cursor: pointer;
  transition: var(--transition);
}

/* ALERTS SECTION */

nav .nav-end .icon {
  display: flex;
  border: none;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--grey-200);
  cursor: pointer;
}

nav .nav-end .icon:hover {
  background: var(--grey-100);
}

nav .nav-end .icon:active {
  background: var(--grey-50);
}

nav .nav-end .icon:focus {
  background: var(--grey-50);
  box-shadow: 0px 0px 0px 3px var(--state-focused), 0px 0px 0px 1px #000;
}

/* ALERTS DROPDOWN */

nav .nav-end .icon .alert {
  display: inline-flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50);
  background: var(--plain-white);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  width: 350px;
  top: 5rem;
  align-items: flex-start;
  z-index: 9999;
  transition: var(--transition);
}

/* ALERT HEAD SECTION */

nav .nav-end .icon .alert .alert-head {
  display: flex;
  justify-content: space-between;
  font: var(--text-14-semiB);
  align-items: center;
  align-self: stretch;
}

nav .nav-end .icon .alert .alert-head .alert-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

nav .nav-end .icon .alert .alert-head .alert-icons svg {
  stroke: var(--font-mid);
  border-radius: 5px;
}

nav .nav-end .icon .alert .alert-head .alert-icons svg:last-child:focus {
  outline: 2px solid var(--state-focused);
}

/* ALERT BODY SECTION */

nav .nav-end .icon .alert .alert-body {
  background: var(--plain-background);
  font: var(--text-13-semiB);
  color: var(--font-mid);
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  width: 91%;
}

/* USER ACCOUNT DROPDOWN SECTION */

nav .nav-end .name {
  display: flex;
  align-items: center;
  gap: 8px;
  font: var(--text-12-Med);
  padding: 0 3px 0 10px;
  color: var(--font-light);
  background: var(--grey-grey-200);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

nav .nav-end .name:hover {
  background: var(--grey-100);
}

nav .nav-end .name:active {
  background: var(--grey-50);
}

nav .nav-end .name:focus {
  background: var(--grey-50);
  box-shadow: 0px 0px 0px 3px var(--state-focused), 0px 0px 0px 1px #000;
}

nav .nav-end .name span:nth-child(2),
nav .nav-end .name .profile-drp a span {
  border-radius: 6px;
  background: #36fba1;
  display: flex;
  height: 28px;
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}

/* PROFILE DROPDOWN */

nav .nav-end .name .profile-drp {
  display: flex;
  width: 320px;
  padding: 0px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50);
  background: var(--plain-white);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 5rem;
  left: -7.6rem;
  transition: var(--transition);
  z-index: 9999;
}

nav .nav-end .name .profile-drp a {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 8px;
  font: var(--text-13-Reg);
  text-decoration: none;
  color: var(--grey-grey-200);
}

nav .nav-end .name .profile-drp div:nth-child(3) a:first-child {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

nav .nav-end .name .profile-drp div:nth-child(3) a:first-child p:nth-child(2) {
  font: var(--text-12-Reg);
}

nav .nav-end .name .profile-drp a#first {
  background: var(--plain-background);
}

nav .nav-end .name .profile-drp a:hover {
  background: var(--plain-background);
}

nav .nav-end .name .profile-drp a:focus {
  border: 2px solid var(--state-focused);
}

nav .nav-end .name .profile-drp a svg {
  stroke: var(--grey-grey-200);
}

nav .nav-end .name .profile-drp a svg:nth-child(2) {
  display: block;
  margin: auto 0 auto auto;
}

nav .nav-end .name .profile-drp div {
  border-bottom: 1px solid var(--stroke-s100);
  width: 100%;
  padding: 3px;
}

nav .nav-end .name .profile-drp a p {
  color: var(--font-mid);
}

/* ANIMATION FOR DROPDOWN */

.drp {
  transform: translateY(2rem);
  filter: blur(4px);
  opacity: 0;
  cursor: none;
  visibility: hidden;
}

.drp-anim {
  transform: translateY(0);
  filter: blur(0);
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}

/* MAIN  */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
}

/* BOX  */

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-grey-300);
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  padding: 12px 8px 12px 16px;
  font: var(--text-13-Med);
  color: var(--font-light);
  transition: var(--transition);
}

@keyframes transitionRight {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-100%);
    will-change: transform;
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.animate-on-load2 {
  animation: transitionRight 2s ease-in-out;
}

/* BOX END  */

.box .box-end {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.select-plan {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border: none;
  background: var(--plain-white);
  color: var(--font-dark-2);
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 0px 0px var(--grey-g-100) inset;
  font: var(--text-12-semiB);
  transition: var(--transition);
}

.select-plan:hover {
  background: var(--state-hover);
}

.select-plan:active {
  box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
}

.select-plan:focus {
  background: var(--plain-white);
  box-shadow: 0px 0px 0px 3px var(--state-focused),
    0px 0px 0px 1px var(--plain-white), 0px -1px 0px 0px var(--grey-g-100) inset;
}

/* CANCEL ICON & ANIMATION */

.cancel-icon {
  cursor: pointer;
  padding: 6px;
  stroke: var(--font-light);
  transition: var(--transition);
  border-radius: 6px;
}

.cancel-icon:focus {
  outline: 2px solid var(--state-focused);
}

.box-anim {
  transform: translateY(-0.2rem);
  filter: blur(4px);
  opacity: 0;
  visibility: hidden;
  cursor: none;
}

/* MAIN ACCORDION  */

.main-accordion {
  transition: var(--transition);
  border-radius: 18px;
  border: 1px solid var(--stroke-s-50);
  background: var(--plain-white);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

@keyframes transitionLeft {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(100%);
    will-change: transform;
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.animate-on-load3 {
  animation: transitionLeft 2s ease-in-out;
}

/* MAIN CONTENT */

.main-accordion .main-content {
  overflow: hidden;
  transition: max-height var(--transition);
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

/* INNER */

.main-accordion .main-content .inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--grey-grey-200);
}

.main-accordion .main-content .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.main-accordion .main-content .top p {
  font: var(--text-13-Reg);
}

.main-accordion .main-content .top p:first-child {
  font: var(--text-14-semiB);
}

.main-accordion .main-content .bottom p {
  font: var(--text-12-Reg);
}

.main-accordion .main-content .bottom {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* PROGRESS BAR */

.progress-bar {
  height: 4px;
  background: var(--font-light);
  border-radius: 5px;
  overflow: hidden;
  width: 72px;
  margin-top: 2px;
}

.progress {
  height: 100%;
  width: 0;
  background: var(--grey-grey-300);
  transition: width var(--transition);
}

/* THE ACCORDION ICON */

.main-accordion .accordion-icon {
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  transition: var(--transition);
  border-radius: 6px;
}

.accordion-icon:hover {
  background: var(--state-hover);
}

.main-accordion .accordion-icon:focus {
  outline: 2px solid var(--state-focused);
}

/* SUB ACCORDION WITHIN MAIN ACCORDION */

.sub-accordion {
  max-height: 1500px;
  overflow: hidden;
  transition: max-height, transform var(--transition-accordion);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
  transform: translateY(0);
}

.sub-accordion.open {
  max-height: 0;
  transform: translateY(2rem);
}

/* ACCORDIONS WITHIN THE SUB ACCORDION */

.sub-accordion .accordion {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 96px;
  padding: 8px;
  max-height: 40px;
  overflow: hidden;
  transition: max-height var(--transition-accordion);
}

.accordion.sub-open {
  max-height: 1000px;
  padding: 8px 8px 12px 8px;
  background: #f3f3f3;
}

.open {
  max-height: 1000px;
}

/* LEFT CONTENT IN ACCORDION */

.sub-accordion .accordion .left {
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px;
}

/* CHECK BOX IN THE ACCORDION */

.sub-accordion .accordion .left .check {
  position: relative;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sub-accordion .accordion .left .check .circle-hover {
  transition: 300ms ease-in-out;
  border: 2px solid #8a8a8a;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
}

.sub-accordion .accordion .left .check svg {
  transition: 300ms ease-in-out;
  position: absolute;
}

.check-hide {
  filter: blur(4px);
  opacity: 0;
  visibility: hidden;
}

.check-show {
  opacity: 1;
  filter: blur(0);
  visibility: visible;
}

/* OTHER CONTENTS IN THE LEFT CONTENT OF THE ACCORDION */

.sub-accordion .panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  margin-top: 4px;
}

.sub-accordion .panel .panel-small {
  filter: blur(4px);
  opacity: 0;
  visibility: hidden;
  cursor: none;
  transform: translateX(-2rem);
  transition: var(--transition-accordion);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.sub-accordion .panel .panel-small p {
  font: var(--text-13-Med);
  color: var(--font-mid);
}

.sub-accordion .panel .panel-small.accord-show {
  filter: blur(0);
  opacity: 1;
  visibility: visible;
  cursor: inherit;
  transform: translateX(0);
}

.sub-accordion .panel .accordion-label {
  font: var(--text-13-Med);
  color: var(--grey-grey-200);
}

.sub-accordion .panel p:nth-child(2) {
  font: var(--text-13-Reg);
  color: var(--font-mid);
}

.sub-accordion .panel p {
  font: var(--text-14-Med);
  color: var(--state-focused);
}

.sub-accordion .panel .panel-small .check2-btn {
  display: flex;
  gap: 16px;
}

.sub-accordion .panel .check2-btn button:nth-child(2) {
}

.sub-accordion .panel button {
  display: inline-flex;
  padding: 6px 12px;
  align-items: center;
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-200);
  border-right: 1.5px solid var(--stroke-200);
  border-left: 1.5px solid var(--stroke-200);
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  color: var(--plain-white);
  font: var(--text-12-Med);
  transition: var(--transition);
  cursor: pointer;
  margin: -5px 0 0 5px;
}

.sub-accordion .panel button:hover {
  background: #2a2a2a;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}

.sub-accordion .panel button:active {
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.sub-accordion .panel button:focus {
  background: #404040;
  box-shadow: 0px 0px 0px 5px var(--state-focused),
    0px 0px 0px 3px var(--plain-white), 0px 0px 0px 1.5px #333;
}

.sub-accordion .panel .check2-btn button:nth-child(2) {
  background: transparent;
  border: none;
  color: #000;
  box-shadow: none;
}

.sub-accordion .panel .check2-btn button:nth-child(2):hover {
  background: #e7e7e7;
}

.sub-accordion .panel .check2-btn button:nth-child(2):active {
  background: #e0e0e0;
}

.sub-accordion .panel .check2-btn button:nth-child(2):focus {
  border: 2px solid var(--state-focused);
  background: var(--plain-white);
}

/* IMAGE INSIDE THE ACCORDION */

.accordion img {
  filter: blur(4px);
  opacity: 0;
  visibility: hidden;
  cursor: none;
  transform: translateX(2rem);
  transition: var(--transition-accordion);
  object-fit: cover;
}

.accordion img.accord-show {
  filter: blur(0);
  opacity: 1;
  visibility: visible;
  cursor: inherit;
  transform: translateX(0);
}

@keyframes transitionIn {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(100%);
    will-change: transform;
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

/* MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 900px) {
  nav .search-container {
    max-width: 380px;
  }
}

@media (max-width: 370px) {
  nav .nav-end .icon .alert {
    left: -200%;
    width: auto;
  }
}

@media (max-width: 600px) {
  nav {
    gap: 8px;
  }

  nav #mobile-shopify {
    display: block;
  }

  nav #desktop-shopify {
    display: none;
  }

  nav .search-container {
    width: auto;
  }

  nav .nav-end .icon {
    background: none;
    width: auto;
    height: auto;
  }

  nav .nav-end .icon .alert {
    left: -250%;
    width: auto;
  }

  nav .nav-end .icon .alert .alert-body {
    width: auto;
  }

  nav .nav-end .name {
    background: none;
    padding: 0;
    justify-content: start;
  }

  nav .nav-end .name .profile-drp {
    left: -120%;
    width: auto;
  }

  nav .nav-end .name span:first-child {
    display: none;
  }

  #first {
    gap: 5px;
  }

  main {
    margin: 0;
    align-items: stretch;
  }

  .box {
    border-radius: 0;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
  }

  .box p {
    width: 320px;
  }

  #cancelIcon {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .main-accordion {
    border-radius: 0;
    width: auto;
  }

  .accordion img {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 370px) {
  nav .nav-end .icon .alert {
    left: -200%;
    width: auto;
  }
}

@media (max-width: 300px) {
  nav .nav-end .icon .alert {
    left: -180%;
    width: auto;
  }
}

@media (max-width: 320px) {
  nav .search-container input {
    width: 50px;
  }

  .box p {
    width: 250px;
  }
}

@media (min-width: 320px) and (max-width: 380px) {
  nav .search-container input {
    width: 90px;
  }

  .box p {
    width: 270px;
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  nav .search-container input {
    width: 140px;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  nav .search-container input {
    width: 200px;
  }

  .box p {
    width: 400px;
  }
}
